&lt;div class=&quot;col2&quot;&gt;
	&lt;section&gt;
		&lt;h2&gt;Column 1&lt;/h2&gt;
		&lt;p&gt;Body body body body body...&lt;/p&gt;
	&lt;/section&gt;

	&lt;section&gt;
		&lt;h2&gt;Column 2&lt;/h2&gt;
		&lt;p&gt;Body body body body body...&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;