&lt;div class=&quot;contact&quot;&gt;
    &lt;ul class=&quot;inline-list&quot;&gt;
        &lt;li&gt;&lt;a class=&quot;twitter&quot; href=&quot;https://twitter.com/WorldIADay&quot;&gt;&lt;img src=&quot;../../images/twitter.svg&quot; alt=&quot;Twitter&quot; /&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class=&quot;email&quot; href=&quot;mailto:info@worldiaday.org&quot;&gt;&lt;img src=&quot;../../images/email.svg&quot; alt=&quot;Email&quot; /&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;