ul, ol, li {
    margin: 0 0 $space 0;
}

ol {
    margin-top: $space;
    padding: 0;
    list-style: none;
    counter-reset: ol-counter;
}
ol>li:before {
    display: block;
    float: left;
    margin-left: -2.6em;
    content: counter(ol-counter);
    counter-increment: ol-counter;
    color: white;
    font-weight: bold;
    background-color: $text-color;
    text-align: center;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 1.6em;
}
ol>li {
    padding-left: 2.6em;
}

ul {
    margin-top: $space;
    list-style: disc;
    padding-left: 1.2em;
}

li ol, li ul {
    margin-top: $space-half;
}
li li {
    margin-bottom: $space-half;
}

dl {
    margin-top: $space;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}
dl .di {
    padding-bottom: $space;
}
@media screen and (min-width: 400px) {
    dl.inline {
        display:table;
    }
    dl.inline dt {
        display: table-cell;
        text-align: right;
        width: 7em;
        padding-right: $space;
    }
    dl.inline dd {
        display: table-cell;
    }
}

.unstyled-list {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: $space-half;
    }
}

.inline-list {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
        margin-right: $space;
        &:last-child {
            margin-right: 0;
        }
    }
}

/* mult-column lists */
ul.long {
    list-style: none;
    padding: 0;
    margin-bottom: .5em;
}
@media screen and (min-width: 400px) {
    dl.long .di,
    ul.long li {
        width: 47.5%; /* 2 col */
        margin-right: 5%; /* remainder */
        float: left;
    }
    dl.long .di:nth-child(2n),
    ul.long li:nth-child(2n) {
        margin-right: 0;
    }
    dl.long .di:nth-child(2n+1),
    ul.long li:nth-child(2n+1) {
        clear: left;
    }
    dl.long:after,
    ul.long:after {
        content: ' ';
        display: block;
        clear: both;
        line-height: 0;
    }
}
@media screen and (min-width: 800px) {
    /* 3 columns in list if wide enough */
    dl.long .di,
    ul.long li {
        width: 30%; /* 3 col */
        margin-right: 5%; /* remainder, split in 2 */
        float: left;
    }
    dl.long .di:nth-child(2n),
    ul.long li:nth-child(2n) {
        margin-right: 5%;
    }
    dl.long .di:nth-child(2n+1),
    ul.long li:nth-child(2n+1) {
        clear: none;
    }
    dl.long .di:nth-child(3n),
    ul.long li:nth-child(3n) {
        margin-right: 0;
    }
    dl.long .di:nth-child(3n+1),
    ul.long li:nth-child(3n+1) {
        clear: left;
    }
    /* 2 columns in list if narrower */
    .col2 dl.long .di,
    .content-with-sidebar dl.long .di,
    .col2 ul.long li,
    .content-with-sidebar ul.long li {
        width: 47.5%; /* 2 col */
        margin-right: 5%; /* remainder */
        float: left;
    }
    .col2 dl.long .di:nth-child(3n),
    .content-with-sidebar dl.long .di:nth-child(3n),
    .col2 ul.long li:nth-child(3n),
    .content-with-sidebar ul.long li:nth-child(3n) {
        margin-right: 5%;
    }
    .col2 dl.long .di:nth-child(3n+1),
    .content-with-sidebar dl.long .di:nth-child(3n+1),
    .col2 ul.long li:nth-child(3n+1),
    .content-with-sidebar ul.long li:nth-child(3n+1) {
        clear: none;
    }
    .col2 dl.long .di:nth-child(2n),
    .content-with-sidebar dl.long .di:nth-child(2n),
    .col2 ul.long li:nth-child(2n),
    .content-with-sidebar ul.long li:nth-child(2n) {
        margin-right: 0;
    }
    .col2 dl.long .di:nth-child(2n+1),
    .content-with-sidebar dl.long .di:nth-child(2n+1),
    .col2 ul.long li:nth-child(2n+1),
    .content-with-sidebar ul.long li:nth-child(2n+1) {
        clear: left;
    }
}