@charset "UTF-8";

/* Text-Related Elements */ 
p {
	margin: 0 0 $space;
}

/* Blockquote */
blockquote {
    font-style: italic;
    color: $text-color-light;
    margin: 0 $space-double;
    padding: 0;
    position: relative;
}
blockquote:before {
    content: '“';
    font-size: 7em;
    color: $decoration-color;
    position: absolute;
    left: -.45em;
    top: -.4em;
    z-index: -1;
}