<dl class="inline">
    <div class="di">
        <dt>Term 1</dt>
        <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
    </div>
    <div class="di">
        <dt>Term 2</dt>
        <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
    </div>
    <div class="di">
        <dt>Term 3</dt>
        <dd>And it gets a definition too, which is this line.</dd>
    </div>
    <div class="di">
        <dt>Term 4</dt>
        <dd>And it gets a definition too, which is this line.</dd>
    </div>
</dl>