<dl class="long">
    <div class="di">
        <dt>Item 1</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 2</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 3</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 4</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 5</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 6</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 7</dt>
        <dd>Definition</dd>
    </div>
    <div class="di">
        <dt>Item 8</dt>
        <dd>Definition</dd>
    </div>
</dl>

<ul class="long">
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
    <li>item 5</li>
    <li>item 6</li>
    <li>item 7</li>
    <li>item 8</li>
</ul>