&lt;ul class=&quot;unstyled-list team-list&quot;&gt;
    {{# people}}&lt;li&gt;
        &lt;img src=&quot;{{image}}&quot; alt=&quot;picture of {{name}}&quot;&gt;&lt;br&gt;
        &lt;a href=&quot;{{contact}}&quot;&gt;{{name}}&lt;/a&gt;&lt;br&gt;
        {{role}}
    &lt;/li&gt;{{/ people}}
&lt;/ul&gt;