/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$white : #fff;
$heading-color: #000000;
$link-color: #333333;
$popout-color: #FF0099;
$text-color: #333333;
$text-color-light: #888888;
$decoration-color: #DDDDDD;


//Typography
$font: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-size-small: .75em;

$primary-heading-size: 2.25;
$secondary-heading-size: 1.5;
$tertiary-heading-size: 1.25;


//Layout
$max-width: 900px;
$content-width: 65%;
$sidebar-width: 30%;

//Defaults
$space : 1em;
$space-half : $space/2;
$space-double : $space*2;
$space-triple : $space*3;

//Borders
$dark-border: 1px solid #999;
$light-border: 1px solid #ccc;


//Breakpoints
$bp-small : 400px;
$bp-medium : 600px;
$bp-large : 800px;

//