<footer>
    {{> molecules-footer-nav }}
    {{> molecules-social-media }}
    <p class="copyright">&copy; 2016 Information Architecture Institute</p>

    <p class="designer-attribution">Visual design by <a href="http://pamgriffith.net">Pam Griffith</a>
</p></footer>