<nav class="footer-nav">
    <ul class="inline-list">
        <li><a href="mailto:info@worldiaday.org">Contact</a></li>
        <li><a href="http://www.iainstitute.org/en/about/privacy_policy.php">Privacy Policy</a></li>
        <li><a href="http://2015.worldiaday.org/code-conduct/">Code of Conduct</a></li>
    </ul>
</nav>