<div class="contact">
    <ul class="inline-list">
        <li><a class="twitter" href="https://twitter.com/WorldIADay"><img src="../../images/twitter.svg" alt="Twitter" /></a></li>
        <li><a class="email" href="mailto:info@worldiaday.org"><img src="../../images/email.svg" alt="Email" /></a></li>
    </ul>
</div>