&lt;footer&gt;
    {{&gt; molecules-footer-nav }}
    {{&gt; molecules-social-media }}
    &lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2016 Information Architecture Institute&lt;/p&gt;

    &lt;p class=&quot;designer-attribution&quot;&gt;Visual design by &lt;a href=&quot;http://pamgriffith.net&quot;&gt;Pam Griffith&lt;/a&gt;
&lt;/p&gt;&lt;/footer&gt;