<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>

Note: heading level 1 becomes the size of heading level 2 in narrow contexts. This happens automatically on small screens with media queries, but narrow panels like the hero area need to do it with extra code.