&lt;nav class=&quot;footer-nav&quot;&gt;
    &lt;ul class=&quot;inline-list&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;mailto:info@worldiaday.org&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;http://www.iainstitute.org/en/about/privacy_policy.php&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;http://2015.worldiaday.org/code-conduct/&quot;&gt;Code of Conduct&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;