&lt;div class=&quot;main&quot;&gt;
    &lt;div class=&quot;content-with-sidebar&quot;&gt;
    	&lt;section&gt;
    		&lt;h2&gt;Content&lt;/h2&gt;
    		&lt;p&gt;Body body body body body...&lt;/p&gt;
    	&lt;/section&gt;
    &lt;/div&gt;
    &lt;aside class=&quot;sidebar&quot;&gt;
    	sidebar
    &lt;/aside&gt;
&lt;/div&gt;