&lt;p&gt;Primary font: &quot;Helvetica Neue&quot;, &quot;HelveticaNeue&quot;, Helvetica, Arial, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;Helvetica Neue&quot;, &quot;HelveticaNeue&quot;, Helvetica, Arial, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;Helvetica Neue&quot;, &quot;HelveticaNeue&quot;, Helvetica, Arial, sans-serif;&lt;/strong&gt;&lt;/p&gt;