<div class="main">
    <div class="content-with-sidebar">
    	<section>
    		<h2>Content</h2>
    		<p>Body body body body body...</p>
    	</section>
    </div>
    <aside class="sidebar">
    	sidebar
    </aside>
</div>