/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
a.button {
    font-size: 1.25em;
	color: $white;
	font-weight: bold;
	text-decoration: none;
	background-color: $popout-color;
	padding: $space-half $space;
	border-radius: .2em;
	display: inline-block;
	vertical-align: middle;
	
	&:hover, &:focus {
	}
}