/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
    font-size: $font-size-small;
    position: relative;
    top: -33px;
    top: calc(-2rem - 1px);
    border-top: $dark-border;
    padding-top: $space;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;

    @include media-query($bp-large) {
    	clear: both;

        ul {
            margin: 0;
        }
        
        .footer-nav {
            width: 40%;
            float: left;
            text-align: left;
        }
        
        .copyright {
            width: 40%;
            float: left;
            text-align: right;
        }
        
        .contact {
            width: 20%;
            float: left;
            text-align: center;
        }
        
        &:after {
            content: ' ';
            display: block;
            clear: both;
            line-height: 0;
        }
    }
}