/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

@include media-query($bp-large) {
    .main {
        max-width: $max-width;
        margin: 0 auto;

        &:after {
            content: ' ';
            display: block;
            clear: both;
            line-height: 0;
        }
    }

    .content-with-sidebar {
        width: $content-width;
        float: left;
    }
    .sidebar {
        width: $sidebar-width;
        float: right;
        margin-top: $space-double; /* lines up headings */

        section {
            margin: 0 0 $space-triple;
            padding: 0;
            border: none;
        }

        blockquote {
            margin: 0;
        }
    }
}