/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

@include media-query($bp-large) {
    .main {
        max-width: $max-width;
        margin: 0 auto;

        &:after {
            content: ' ';
            display: block;
            clear: both;
            line-height: 0;
        }
    }

    .content-with-sidebar {
        width: $content-width;
        float: left;
    }
    .sidebar {
        width: $sidebar-width;
        float: right;
        margin-top: $space-double; /* lines up headings */

        section {
            margin: 0 0 $space-triple;
            padding: 0;
            border: none;
        }

        blockquote {
            margin: 0;
        }
    }

    .col2 {
        margin: 2em 0;
        padding-bottom: $space-double;
        border-bottom: $light-border;

        section {
            width: 47.5%;
            float: left;
            margin-right: 5%;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;

            h2 {
                margin-top: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &:after {
            content: ' ';
            display: block;
            clear: both;
            line-height: 0;
        }
    }
}