/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

@include media-query($bp-large) {
    .main {
        max-width: $max-width;
        margin: 0 auto;
    }

    .content-with-sidebar {
        width: $content-width;
        float: left;
    }
    .sidebar {
        width: $sidebar-width;
        float: right;
        margin-top: 2em; /* lines up headings */

        section {
            margin: 0 0 3em;
            padding: 0;
            border: none;
        }

        blockquote {
            margin: 0;
        }
    }
}