{{# hero }}
{{&gt; molecules-block-hero-offset }}
{{/ hero}}

&lt;div class=&quot;main&quot;&gt;
    &lt;div class=&quot;content-with-sidebar&quot;&gt;
    	{{# article1}}
    		{{&gt; organisms-article-body }}
    	{{/ article1}}
    	{{# photo-block-1}}
    		{{&gt; molecules-block-photo }}
    	{{/ photo-block-1}}
    	{{# article2}}
    		{{&gt; organisms-article-body }}
    	{{/ article2}}
    	{{# photo-block-2}}
    		{{&gt; molecules-block-photo }}
    	{{/ photo-block-2}}
    	{{# article3}}
    		{{&gt; organisms-article-body }}
    	{{/ article3}}
    	{{# article4}}
    		{{&gt; organisms-article-body }}
    	{{/ article4}}
    &lt;/div&gt;
    &lt;aside class=&quot;sidebar&quot;&gt;
        &lt;section&gt;
        	{{# blockquote}}
        		{{&gt; molecules-blockquote-with-citation }}
        	{{/ blockquote}}
        &lt;/section&gt;
    &lt;/aside&gt;
&lt;/div&gt;

{{&gt; organisms-footer }}