<section class="hero">
    <div class="content-wrapper">
        <div class="content center">
            {{> atoms-logo }}
            <h1>Our Call for Cities is now closed.</h1>
            <p>Thanks to the 86 applicants that applied this year!</p>
        </div>
    </div>
</section>