<section class="hero">
    <div class="content-wrapper">
        <div class="content">
            {{> atoms-logo }}
            <h1>World Information Architecture Day is turning five!</h1>
            <p>We’re excited to announce that our Call for Cities is open. Celebrate Information Architecture in your city this February 20th, 2016.</p>
            <a href="https://docs.google.com/a/davidpetersimon.com/forms/d/1vvBQBC4U8jqBjCqWz13k6hB_nEfBRkyU_9F0MbaANII/viewform" class="button cta-primary">Submit an application<br>for your city
            </a>
        </div>
    </div>
</section>