<section class="photo-section">
    <ul class="inline-list photo-list">
        {{# image1}}<li><a href="{{src-full}}"><img alt="{{alt}}" src="{{src}}"></a><br><a href="{{creator-link}}">{{creator}}</a></li>{{/ image1}}<!-- no gap
        -->{{# image2}}<li><a href="{{src-full}}"><img alt="{{alt}}" src="{{src}}"></a><br><a href="{{creator-link}}">{{creator}}</a></li>{{/ image2}}<!-- no gap
        -->{{# image3}}<li><a href="{{src-full}}"><img alt="{{alt}}" src="{{src}}"></a><br><a href="{{creator-link}}">{{creator}}</a></li> {{/ image3}}
    </ul>
</section>