<section class="photo-section">
    <ul class="inline-list photo-list">
        {{# images}}<li><a href="{{src-full}}"><img alt="{{alt}}" src="{{src}}"></a><br><a href="{{creator-link}}">{{creator}}</a></li>{{/ images}}
    </ul>
</section>