<ul class="unstyled-list team-list">
    {{# people}}<li>
        <img src="{{image}}" alt="picture of {{name}}"><br>
        <a href="{{contact}}">{{name}}</a><br>
        {{role}}
    </li>{{/ people}}
</ul>