Primary:
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #00AEEF;"></span>
		<span class="sg-label">#00AEEF</span>
		<span class="sg-label">headings</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">#FFFFFF</span>
		<span class="sg-label">background</span>
	</li>
</ul>

Secondary:
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FF0099;"></span>
		<span class="sg-label">#FF0099</span>
		<span class="sg-label">pop-out color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFF00;"></span>
		<span class="sg-label">#FFFF00</span>
	</li>
</ul>

Tertiary:
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FF7D00;"></span>
		<span class="sg-label">#FF7D00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00CC00;"></span>
		<span class="sg-label">#00CC00</span>
	</li>
</ul>

Gray:
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
		<span class="sg-label">text</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #888888;"></span>
		<span class="sg-label">#888888</span>
		<span class="sg-label">light big text</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">#999999</span>
		<span class="sg-label">dark border</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CCCCCC;"></span>
		<span class="sg-label">#CCCCCC</span>
		<span class="sg-label">light border</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DDDDDD;"></span>
		<span class="sg-label">#DDDDDD</span>
		<span class="sg-label">light decoration</span>
	</li>
</ul>