&lt;section class=&quot;photo-section&quot;&gt;
    &lt;ul class=&quot;inline-list photo-list&quot;&gt;
        {{# image1}}&lt;li&gt;&lt;a href=&quot;{{src-full}}&quot;&gt;&lt;img alt=&quot;{{alt}}&quot; src=&quot;{{src}}&quot;&gt;&lt;/a&gt;&lt;br&gt;&lt;a href=&quot;{{creator-link}}&quot;&gt;{{creator}}&lt;/a&gt;&lt;/li&gt;{{/ image1}}&lt;!-- no gap
        --&gt;{{# image2}}&lt;li&gt;&lt;a href=&quot;{{src-full}}&quot;&gt;&lt;img alt=&quot;{{alt}}&quot; src=&quot;{{src}}&quot;&gt;&lt;/a&gt;&lt;br&gt;&lt;a href=&quot;{{creator-link}}&quot;&gt;{{creator}}&lt;/a&gt;&lt;/li&gt;{{/ image2}}&lt;!-- no gap
        --&gt;{{# image3}}&lt;li&gt;&lt;a href=&quot;{{src-full}}&quot;&gt;&lt;img alt=&quot;{{alt}}&quot; src=&quot;{{src}}&quot;&gt;&lt;/a&gt;&lt;br&gt;&lt;a href=&quot;{{creator-link}}&quot;&gt;{{creator}}&lt;/a&gt;&lt;/li&gt; {{/ image3}}
    &lt;/ul&gt;
&lt;/section&gt;